@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700);
html, body, div, span, h1, h2, h3, h4, h5, ul, ol, li, p
{margin: 0; padding: 0;}
strong {font-weight: 700;}
html, body {
	background: #333; color: #fff;
	font-family: 'Noto Sans', sans-serif;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
body.fixed {height: 100%; width: 100%; overflow: hidden;}
@media screen and (max-width: 960px) {.container {width: 100%; margin: 0;}}
@media screen and (min-width: 961px) {.container {width: 960px; margin: 0 auto;}}

.pad-top {padding-top: 50px;}

.nav {
	position: fixed; top: 0; left: 0; right: 0; 
	width: 100%; height: 50px;
	background: linear-gradient(#000, #222);
	z-index: 2;
	box-shadow: 0 3px 6px rgba(33,33,33,.6);
}
.nav h1 {
	font-size: 28px; font-weight: 400;
	float: left; margin: 4px 2.5%;
}
.nav h4 {
	font-size: 16px; font-weight: 400; 
	float: right; margin: 14px 2.5% 0 15px;
}
.nav h4 span {color: #bbb;}
.nav #hdhomerun {
	float: right; 
	height: 35px; width: auto;
	margin: 7px 0;
	cursor: pointer;
}

/* HDHomeRun menu */
@media screen and (max-width: 720px) {.hdhomerun-menu {width: 97%; right: 1.5%;}}
@media screen and (min-width: 721px) and (max-width: 960px) {.hdhomerun-menu {width: 47%; right: 1.5%;}}
@media screen and (min-width: 961px) {.hdhomerun-menu {width: 452px; left: 51.5%;}}
.hdhomerun-menu {
	position: fixed; top: 50px; z-index: 3;
	background: #000; color: #ccc;
	overflow: hidden;
	border-bottom-left-radius: 6px; border-bottom-right-radius: 6px;
	box-shadow: 0 3px 6px rgba(33,33,33,.8);
	display: none;
}
.hdhomerun-menu ul {
	list-style-type: none;
}
.hdhomerun-menu ul li a {color: #aaa;}
.hdhomerun-menu ul li {
	width: 90%; height: 35px;
	line-height: 35px;
	padding: 0 5%;
}
.hdhomerun-menu ul li span {
	float: right;
}
.hdhomerun-menu ul li:nth-child(even) {
	background: #161616;
}
#refresh-tuner {cursor: pointer;}


/* Channel Styles */
.channel {
	float: left;
	background: #888;
	border-radius:10px;
	position: relative; z-index: 1;
	overflow: hidden;
	cursor: pointer;
	box-shadow: 0 2px 4px rgba(33,33,33,0.8);
	transition: .2s all ease;
	padding: 0;
}
.channel:hover {
	box-shadow: 0 4px 6px rgba(33,33,33,1);
}

.tv-guide {
	position: absolute; top: 0; right: 0 bottom: 0; left: 0; z-index: 5;
	height: 100%; width: 100%;
	background: #000; opacity: 0;
	transition: .2s all ease;
	overflow: hidden;
}
.allow-scroll {
	position: absolute; top: 0; right: 0; bottom: 0; left: 0;
	height: 100%; width: 100%;
	overflow-y: auto; overflow-x: hidden;
	-ms-overflow-style: none;
	overflow: -moz-scrollbars-none;
}
.allow-scroll::-webkit-scrollbar {display: none;}
.channel:hover .tv-guide {opacity: 0.9;}

.tv-guide h4 {
	float: left; margin: 10px;
	font-weight: 400;
	padding-bottom: 20px;
}

.above-tv {
	width: 100%; float; left;
	padding: 0; margin: 0 0 -5px 0;
	height: 62px;
	background: linear-gradient(rgba(0,93,120,0), rgba(0,50,64,1));
}

.hd {
	float: right;
	height: 35px; width: auto;
	margin: 5px;
}
.bottom-fade {
	position: absolute; left: 0; right: 0; bottom: 0;
	width: 100%; height: 40px;
	background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1));
}

.channel>img {
	width: 80%; height: auto;
	margin: 2% 10%;
}

.channel-info {
	position: absolute; right: 0; bottom: 0; left: 0;
	width: 100%; height: 30px; 
	background: #222;
	text-align: center;
	padding-top: 5px;
}

.live-tv {
	position: fixed; top: 0; right: 0; bottom: 0; left: 0;
	height: 100%; width: 100%;
	background-color: rgba(33,33,33,0.8);
	z-index: 5;
	display: none;
}
.live-tv embed {
	float: left;
	padding: 0; margin: 0;
	background: #000;
	display: block;
	width: 100%; height: 65%;
}
.close {
	float: right;
	position: relative; z-index: 2;
	font-size: 28px; font-weight: 400; color: #fff;
	margin: 10px 20px;
	cursor: pointer;
}
.close img {width: 25px; height: auto;}
.now-playing {
	float: left;
	width: 100%; min-height: 150px;
	background: linear-gradient(rgba(0,50,64,1), rgba(0,93,120,0));
	color: #fff;
}
.now-playing h4 {
	
	font-size: 18px; font-weight: 400;
}
h4.np {float: left; margin: 10px 20px;}
h4.ci {float: right; margin: 10px 20px 0 0;}

.current-icon {
	height: 80px; width: auto; 
	float: right; clear: right;
	margin: 0 20px;
	opacity: 0.6;
}

.stats {
	float: left; clear: left;
	width: 100%; height: 40px;
	margin-top: 20px;
	padding-left: 20px; padding-right: 20px;
}
.stats h5 {font-weight: 400; color: #aaa; float: left;}

@media screen and (max-width: 720px) {
	.channel {width: 45%; height: 45vw; margin: 2.5%;}
}
@media screen and (min-width: 721px) {
	.channel {width: 20%; height: 20vw; max-height: 192px; margin: 2.5%;}
}


